pipeline/Assignment7_Q4_incremental_pipeline_HW_Custom.json
{
	"name": "Assignment7_Q4_incremental_pipeline_HW_Custom",
	"properties": {
		"activities": [
			{
				"name": "Get_last_Date_modified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(ModifiedDate) as lastmodifieddate from SalesLT.@{pipeline().parameters.TableName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Customer",
							"SchemaName": "SalesLT"
						}
					}
				}
			},
			{
				"name": "Copy_Customer_to_customer_Copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get_last_Date_modified",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "HW_VALUE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from SalesLT.@{pipeline().parameters.TableName} where ModifiedDate > '@{activity('HW_VALUE').output.firstRow.HWdate}' and ModifiedDate <= '@{activity('Get_last_Date_modified').output.firstRow.lastmodifieddate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": {
								"value": "@createArray(pipeline().parameters.Keycolumn)",
								"type": "Expression"
							}
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Color",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Color",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StandardCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "StandardCost",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ListPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ListPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Size",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Size",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Weight",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								},
								"sink": {
									"name": "Weight",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								}
							},
							{
								"source": {
									"name": "ProductCategoryID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductCategoryID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ProductModelID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductModelID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SellStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SellStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "SellEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SellEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DiscontinuedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DiscontinuedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ThumbNailPhoto",
									"type": "Byte[]",
									"physicalType": "varbinary"
								},
								"sink": {
									"name": "ThumbNailPhoto",
									"type": "Byte[]",
									"physicalType": "varbinary"
								}
							},
							{
								"source": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"SchemaName": "SalesLT"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@concat(pipeline().parameters.TableName,'_copy')",
								"type": "Expression"
							},
							"SchemaName": "SalesLT"
						}
					}
				]
			},
			{
				"name": "Update HW Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Customer_to_customer_Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select '@{pipeline().parameters.TableName}' as TableName,'@{activity('Get_last_Date_modified').output.firstRow.lastmodifieddate}' as HWtable",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"TableName"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TableName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TableName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "HWtable",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "HWdate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HW_SQL_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HW_SQL_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "HW_VALUE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select HWdate from dbo.HWtable where TableName = '@{pipeline().parameters.TableName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "HW_SQL_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			},
			"Keycolumn": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-23T08:25:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}