pipeline/sub_Ingestion_Product_Addres_To_JSON.json
{
	"name": "sub_Ingestion_Product_Addres_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "Lookup_rowCount_address",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) [Rowcount] from SalesLT.Address",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Address",
							"SchemaName": "SalesLT"
						}
					}
				}
			},
			{
				"name": "Check_count_GT_100",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_rowCount_address",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup_rowCount_address').output.firstRow.Rowcount,100)\r\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_address",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_Generic_DS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Address",
										"SchemaName": "SalesLT"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CSV_DS",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": "Address"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-05T01:55:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}